@import '../../utils/baseVar.scss';

#friend {
    // background: #ECEDF1; addHaoyou jinTip careTip friend003.png
    height: 10.277778rem; 
    width: 9.157407rem;
    // 10.0rem
    margin-bottom: 1.6rem;
    margin-left: -0.255rem;

    // padding: 0.166667rem;
    box-sizing: border-box;

    background: $friend001 no-repeat;
    background-size: 9.157407rem 10.277778rem;

    box-shadow: 0 0 0.566rem 0rem #000;
    border-radius: 0.277778rem;
    overflow: hidden;
    
    // position: fixed;
    // left: 0;
    // top: 0;
    header,.frifri {
        font-size: 0.43rem;
        line-height: 0.87037rem;
        height: 0.9rem;
        // height: 1rem;
        padding: 0;
        border-bottom: 1px solid #CCBDA8;
        background: rgba(0,0,0,0);

        @include box-sizing();
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        ul {
            @include flexbox();
            height: 100%;
            color: #111;
            text-align: center;
            padding: 0 0.37037rem;
            @include justify-content(space-between);
            li{position:relative;}
            li:first-child {
                    position: relative;
                &>i {
                    display: inline-block;
                    width: 0.537037rem;
                    height: 0.416667rem;
                    
                    background: $friend002 no-repeat;
                    background-size: 0.537037rem 0.416667rem;
                    position: absolute;
                    top: 50%;
                    @include translate(0,-50%);
                }
            }
            li:last-child {
                i {
                    display: inline-block;
                    width: 0.351852rem;
                    height: 0.351852rem;
                    background: $friend003 no-repeat;
                    background-size: 0.351852rem 0.351852rem;
                    margin: 0.259259rem 0.08rem 0.259259rem 0.37037rem;
                    position: relative;
                    
                }
            }
        }
    }
    .friMain {
        height:9.407408rem;
        font-size:0.388889rem;
        ul {
            overflow: hidden;
            height: 100%;
            padding-top: 0.259259rem;
            @include flexbox();
            @include direction(column);
            li {
                padding: 0 0.37037rem;
                @include box-sizing();
                overflow: hidden;
                background-color: #E9DAC5;
            }
            .dian3{
                width: 0.36rem;
                height: 0.36rem;
                line-height: 0.38rem;
                font-size: 0.29rem;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                color: #fff;
                text-align: center;
                border-radius: 50%;
                background-color: rgba(255,0,0,0.9);
                box-shadow: 0 0rem 0.05rem 0.001rem #ccc;
                position: absolute;
                top: -0.06rem;
                right: -0.06rem;
                transform: translate(50%,-50%);
            }
            .dian2{
                width: 0.36rem;
                height: 0.36rem;
                line-height: 0.38rem;
                font-size: 0.29rem;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                color: #fff;
                text-align: center;
                border-radius: 50%;
                background-color: rgba(255,0,0,0.9);
                box-shadow: 0 0rem 0.05rem 0.001rem #ccc;
                position: absolute;
                top: -0.06rem;
                right: -0.06rem;
            }
            .dian{
                width: 0.36rem;
                height: 0.36rem;
                line-height: 0.38rem;
                font-size: 0.29rem;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                color: #fff;
                text-align: center;
                border-radius: 50%;
                background-color: rgba(255,0,0,0.9);
                box-shadow: 0 0rem 0.05rem 0.001rem #ccc;
                position: absolute;
                top: 0.1rem;
                left: 1rem;
            }
            li:nth-of-type(2n) {
                background: #F7E8D3;
                overflow-x: hidden;
                padding: 0;
                margin-bottom: 0.1rem;
                overflow-y: auto;
                .remove{
                    width: 2rem;
                    height: 100%;
                    background-color: #DA480D;
                    color: white;
                    position: absolute;
                    right: 0rem;
                    top: 0px;
                    padding: 0rem 0rem;
                    p{
                        line-height: 0.4rem;
                        font-size: 0.4rem;
                        height: 0.4rem;
                        text-align: center;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translate(0,-50%);
                    }
                }
                dl {
                    width: 11.157rem;
                    height: 1.185185rem;
                    // height: auto;
                    border-bottom: 2px solid #D0C1AC;
                    overflow-y: auto;
                    overflow-x: hidden;
                    dd {
                        height: 100%;
                        position:relative;
                        @include flexbox()
                        font-size: 0.407407rem;
                        img {
                            display: inline-block; 
                            height: 0.925926rem;
                            width: 0.907407rem;
                            position: absolute;
                            left: 0.37037rem;
                            top: 50%;
                            transform: translate(0, -50%);
                        }
                        span:nth-of-type(1) {
                            line-height: 0.296296rem;
                            font-size: 0.296296rem;
                            text-align: left;
                            position: absolute;
                            left: 1.444444rem;
                            top: 50%;
                            transform: translate(0,-50%);
                        }
                        span:nth-of-type(2) {
                            
                            width: 1.296296rem;
                            height: 0.518519rem;
                            line-height: 0.518519rem;
                            font-size: 0.240741rem;

                            right: 2.38rem;
                            color: #18BE17;
                            border: 0.028rem solid #B3DEAE;
                            box-sizing: border-box;
                            border-radius: 0.925926rem;
                            position: absolute;
                            top: 50%;
                            transform: translate(0,-50%);
                            text-align: right;
                            padding-right: 0.185185rem;

                            i {
                                display: inline-block;
                                position: absolute;

                                width: 0.333333rem;
                                height: 0.351852rem;
                                left: 0.15rem;
                                top: 50%;
                                @include translate(0,-50%);
                                background: $roomAll -4.351852rem -2.222222rem no-repeat;
                                background-size: 5.555556rem;
                            }
                            i.Iadd {
                                width: 0.333333rem;
                                height: 0.351852rem;

                                background: $roomAll -4.907407rem -2.222222rem no-repeat;
                                background-size: 5.555556rem;
                            }
                        }
                    }
                }
                dl:last-child{
                    border: 0 none;
                }
                dl::-webkit-scrollbar {
                    display: none;
                }
            }
            li:nth-of-type(2n)::-webkit-scrollbar{display: none;}
            li.show {
                height: auto;
                @include transition(all,1s)
            }
            li.hide {
                height: 0;
                margin-top: 0.22rem;
                @include transition(all,1s)
            }
            li:nth-of-type(2n-1) {
                height: 1.203704rem;
                margin-bottom: 0.068rem;

                -webkit-box-shadow: 0 0.055556rem 0.055556rem 0rem #DECFBA;
                -moz-box-shadow: 0 0.055556rem 0.055556rem 0rem #DECFBA;
                -ms-box-shadow: 0 0.055556rem 0.055556rem 0rem #DECFBA;
                -o-box-shadow: 0 0.055556rem 0.055556rem 0rem #DECFBA;
                box-shadow: 0 0.055556rem 0.055556rem 0rem #DECFBA;

                padding-top: 0.222222rem;
                padding-bottom: 0.12037rem;
                @include flexbox()
                span:nth-of-type(1) {
                    display: inline-block;
                    height: 0.861111rem;
                    width: 0.898148rem;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    background: $friend004 no-repeat;
                    background-size: 0.898148rem 0.861111rem;
                }
                span:nth-of-type(2) {
                    height: 100%;
                    flex: 1;
                    height: 0.861111rem;
                    font-size: 0.35rem;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #342E22;
                    padding-left: 0.18rem;
                    line-height: 0.861111rem;
                    text-align: left;
                }
                span:nth-of-type(3) {
                    width: 1.111111rem;
                    position: relative;
                    i {
                        display: inline-block;
                        position: absolute;
                        width: 0.388889rem;
                        height: 0.222222rem;
                        top: 50%;
                        @include translate(0,-50%);
                        background: $roomAll -3.703704rem -2.314815rem no-repeat;
                        background-size: 5.555556rem;
                        z-index: 0;
                    }
                    i.Iup {
                        background: $roomAll -3.703704rem -2.685185rem no-repeat;
                        background-size: 5.555556rem;
                    }
                }
            }
            li:nth-of-type(2){
                dl{
                    position: relative;
                    user-select: none;
                    dt{
                        float: left;
                        width: 1.203704rem;
                        height: 100%;
                        span{
                            display: inline-block;
                            height: 0.583333rem;
                            width: 0.555556rem;
                            background: $friend007 no-repeat;
                            background-size: 0.555556rem 0.583333rem;

                            position: absolute;
                            top: 50%;
                            transform: translate(0,-50%);
                            left: 0.54rem;
                        }
                    }
                    dd:nth-of-type(1){
                        padding: 0.314815rem 0 0.277778rem;
                        width: 7.95rem;
                        border: none;
                        font-size: 0.25rem;
                        height: 100%;
                        box-sizing: border-box;

                        //    设置过渡动画
                        b{
                            font-weight: normal;
                            display: block;
                        }
                        b:nth-of-type(1){
                            height: 0.314815rem;
                            line-height: 0.314815rem;
                            font-size: 0.296296rem;
                            position: absolute;
                            top: 0.29rem;
                        }
                        b:nth-of-type(2){
                            height: 0.277778rem;
                            line-height: 0.277778rem;
                            font-size: 0.259259rem;
                            position: absolute;
                            bottom: 0.24rem;
                            color: #7A7064;
                        }
                        
                        b:nth-of-type(3){
                            height: 100%;
                            width: 0.222222rem;
                            background: $friend009 no-repeat;
                            background-size: 0.222222rem 1.314815rem;

                            position:absolute;
                            right: 0.576rem;
                            top: 0;
                            z-index:0;
                        }
                        b:nth-of-type(4){
                            width: 22px;
                            height: 22px;
                            background: #DA480D;
                            border-radius:50%;
                            position: absolute;
                            top: 0.16rem;
                            right: 0.3rem;
                        }   
                    }
                }
                .fri{
                    span{
                        background: $friend008 no-repeat;
                        background-size:0.555556rem 0.583333rem;
                    }
                    p:nth-of-type(1){
                        height: 0.537037rem;
                        i{
                            color: #2D9C2A;
                            font-size: 0.24rem;
                            line-height: 0.537037rem;
                            margin-right: 0.093rem;
                        }
                        width: 78%;
                        overflow: hidden;
                    }
                    p:nth-of-type(2){
                        width: 1.296296rem;
                        height: 0.518519rem;
                        line-height: 0.518519rem;
                        font-size: 0.240741rem;
                        
                        right: 0.38rem;
                        color: #18BE17;
                        border: 0.028rem solid #B3DEAE;
                        box-sizing: border-box;
                        border-radius: 0.925926rem;
                        position: absolute;
                        top: 50%;
                        transform: translate(0,-50%);

                    }
                }
            }
            li:nth-of-type(3) {
                span:nth-of-type(1) {
                    background: $friend005 no-repeat;
                    background-size: 0.898148rem 0.861111rem;
                }
            }
            li:nth-of-type(5) {
                span:nth-of-type(1) {
                    background: $friend006 no-repeat;
                    background-size: 0.898148rem 0.861111rem;
                }
            }
        }
    }
    .addHaoyou{ // 添加好友
        position: relative;
        input{
            margin-top: 0.277778rem;
            width: 100%;
            height: 1.185185rem;

            box-shadow: 0 0.066rem 0.101852rem 0rem #DECFBA;
            border: 0 none;
            background-color: #E9DAC5;
            padding-left: 1.333333rem;
            line-height: 1.185185rem;
            font-size: 0.36rem;
        }
        i{
            width: 0.555556rem;
            height: 0.555556rem;
            background: $friend011 no-repeat;
            background-size: 0.555556rem 0.555556rem;

            position: absolute;
            left: 0.37037rem;
            top: 0.6rem;
        }
        .seekHaoyou{
            height: 1.185185rem;
            width: 100%;
            border-bottom: 1px solid #D8CDBA;
            position: relative;
            font-size: 0.36rem;
            img{
                width: 0.6rem;
                height: 0.6rem;
                position: absolute;
                left: 0.35rem;
                top: 50%;
                transform: translate(0,-50%);

            }
            p{
                line-height: 1.185185rem;
                padding-left: 1.333333rem;
                text-align: left;
                span{
                    font-size: 0.34rem;
                    color: #3BAF2E;
                }
            }
        }
    }

    .addFriend{
        width: 7.092593rem;
        @include border-radius(0.277778rem);
        position: absolute;
        top:8.240741rem;
        span{
          display: block;
          color:white;
          font-size: 0.611111rem;
          width:8.87037rem;
          height:2.12963rem;
          line-height: 1.805556rem;
          background: $home08 no-repeat;
          background-size:8.87037rem 1.805556rem;
          background-position: center;
          text-align: center;
          position: relative;
          right: 0.87037rem;
          bottom: 0.4rem;
        }

        p{
          input{
              @include border-radius(0.092593rem);
              height:0.925926rem;
              line-height:0.740741rem;
              font-size:0.462963rem;
              width:4.62963rem;
              position:relative;
              padding-left:0.185185rem;
              bottom:0.5rem;
              text-align: left;
          }
          
        }
        button{
          width:2.777778rem;
          height: 1.0rem;
          line-height:0.925926rem;
          @include border-radius(0.509259rem);
          font-size:0.555556rem;
          margin-bottom:0.462963rem;
          border: 0 none;
          color: white;
          background: $homeAll -1.944444rem -1.388889rem no-repeat;
          background-size: 5.555556rem 5.555556rem;
        }
        button:active {
            position: relative;
            left: 0.018519rem;
            bottom: -0.046296rem;
        }
    }

    .findFriend{
        width: 6.3rem;
        height: 4.212963rem;
        padding: 0.12963rem;
        box-sizing: border-box;
        // box-shadow:0.046296rem 0.046296rem 0.185185rem #ADACB1;
        // border-radius: 0.277778rem;

        background: $friend010 no-repeat;
        background-size: 6.3rem 4.212963rem;

        overflow: hidden;
        img{
            width:1.972222rem;
            height:1.972222rem;
        }
        &>div{
            position: relative;
            height: 100%;
            i{
                display: block;
                height: 0.712963rem;
                width: 0.712963rem;
                position: absolute;
                right: 0%;
                top: 0;
                transform: translate( 0.15rem, -0.12rem);

                background: $login008 no-repeat;
                background-size: 0.712963rem 0.712963rem;
            }
            img{
                position: absolute;
                left: 0.66rem;
                top: 0.416667rem;
                width: 1.759259rem;
                height: 1.712963rem;
            }
            button{
              width: 2.481481rem;
              height: 0.796296rem;
              border-radius: 0.509259rem;
              position: absolute;
              left: 50%;
              transform: translate(-50%,0);
              bottom: 0.4rem;
              border: 0 none;
              color: white;

              background: $login006 no-repeat;
              background-size: 2.481481rem 0.796296rem;
            }
            button:active {
                position: absolute;
                left: 50%;
                transform: translate(-50%,-0.1rem);
            }
        }
        
        ul{
            font-size: 0.38rem;
            height: 100%;
            padding-top: 0.777778rem;
            box-sizing: border-box;
            li{
                text-align: left;
                margin-left: 2.777778rem;
                left: 0.1rem;
            }
            li:nth-of-type(1){
                color:red;
            }
            li:nth-of-type(2){
                color:#676767;
                padding-top: 0.1rem;
            }
        }
    }

    // 备注好友
    .markFriend{
        width: 6.3rem;
        height: 4.1rem;
        padding: 0.12963rem;
        box-sizing: border-box;
        background: $friend010 no-repeat;
        background-size: 6.3rem 4.1rem;

        i{
            display: block;
            height: 0.712963rem;
            width: 0.712963rem;
            position: absolute;
            right: 0%;
            top: 0;
            transform: translate( 0.08rem, 0rem);

            background: $login008 no-repeat;
            background-size: 0.712963rem 0.712963rem;
        }
        input{
            width: 4.962963rem;
            height: 0.9rem;
            border: 2px solid #D3C4AF;
            border-radius: 0.13rem;
            box-sizing: border-box;
            background-color: rgba(255,255,255,0);
            position: absolute;
            text-align: center;
            top: 1rem;
            left: 50%;
            transform: translate(-50%,0);
            font-size: 0.35rem;
        }
        button{
          width: 2.481481rem;
          height: 0.796296rem;
          border-radius: 0.509259rem;
          position: absolute;
          left: 50%;
          transform: translate(-50%,0);
          bottom: 0.7rem;
          border: 0 none;
          color: white;

          background: $login006 no-repeat;
          background-size: 2.481481rem 0.796296rem;
        }
    }
    .careTip{
        width: 6.3rem;
        height: 4.212963rem;
        padding: 0.12963rem;
        box-sizing: border-box;
        background: $friend010 no-repeat;
        background-size: 6.3rem 4.212963rem;

        h3{
            font-size: 0.42963rem;
            margin-top: 0.26rem;
        }
        i{
            display: block;
            height: 0.712963rem;
            width: 0.712963rem;
            position: absolute;
            right: 0%;
            top: 0;
            transform: translate( 0.08rem, 0rem);

            background: $login008 no-repeat;
            background-size: 0.712963rem 0.712963rem;
        }
        

        p{
          width: 100%;
          height: 0.725926rem;
          line-height: 0.725926rem;
          text-align: center;
          font-size: 0.36rem;
          padding: 0 0.152593rem;
          position: absolute;
          left: 50%;
          top: 48%;
          transform: translate(-50%,-60%);
          white-space: pre-wrap;
        }
        button{
          width: 2.481481rem;
          height: 0.796296rem;
          border-radius: 0.509259rem;
          position: absolute;
          left: 50%;
          transform: translate(-50%,0);
          bottom: 0.56rem;
          border: 0 none;
          color: white;

          background: $login006 no-repeat;
          background-size: 2.481481rem 0.796296rem;
        }
    }
    .jinTip{
        width: 6.3rem;
        height: 4.212963rem;
        padding: 0.12963rem;
        box-sizing: border-box;
        background: $friend010 no-repeat;
        background-size: 6.3rem 4.212963rem;

        h3{
            font-size: 0.42963rem;
            margin-top: 0.26rem;
        }
        i{
            display: block;
            height: 0.712963rem;
            width: 0.712963rem;
            position: absolute;
            right: 0%;
            top: 0;
            transform: translate( 0.08rem, 0rem);

            background: $login008 no-repeat;
            background-size: 0.712963rem 0.712963rem;
        }
        

        p{
          width: 100%;
          height: 0.725926rem;
          line-height: 0.725926rem;
          text-align: center;
          font-size: 0.36rem;
          padding: 0 0.152593rem;
          position: absolute;
          left: 50%;
          top: 48%;
          transform: translate(-50%,-60%);
          white-space: pre-wrap;
        }
        button:nth-of-type(1){
          width: 2.481481rem;
          height: 0.796296rem;
          border-radius: 0.509259rem;
          position: absolute;
          left: 50%;
          transform: translate(-105%,0);
          bottom: 0.56rem;
          border: 0 none;
          color: white;

          background: $room024 no-repeat;
          background-size: 2.481481rem 0.796296rem;
        }
        button:nth-of-type(2){
          width: 2.481481rem;
          height: 0.796296rem;
          border-radius: 0.509259rem;
          position: absolute;
          left: 50%;
          transform: translate(5%,0);
          bottom: 0.56rem;
          border: 0 none;
          color: white;

          background: $login006 no-repeat;
          background-size: 2.481481rem 0.796296rem;
        }
    }
}