@import '../../utils/baseVar.scss';
	#water{
		height: 100%;
		width: 100%;

		background-color: #F5E6D1;
		overflow-y:auto;
		header {
			width:100%;
		    height: 1.296296rem;
		    // padding:0 0.277778rem;
		    box-sizing: border-box;
		    background: #2F2E34;
		    color: #fff;
		    font-size:0.425926rem;
		    position: absolute;
		    top:0.0rem;
		    ul {
		        height: 0.796296rem;
		        line-height: 0.796296rem;
		        position: relative;
		        top: 50%;
		        transform: translateY(-50%);
		        display: flex;
		        justify-content: space-between;
		        li:nth-of-type(2){
		           position:absolute;
                   left:4.444444rem;
		        }
		        li:first-child {
		        	padding-left: 0.277778rem;
		            &>i {
		                display: inline-block;
		                width: 0.648148rem;
		                height: 0.509259rem;
		                background: $roomAll -4.351852rem -1.481481rem no-repeat;
		                background-size: 5.555556rem;
		                position: relative;
		                top: 0.402963rem;
		                transform: translate(0, -50%);
		                a {
		                    padding: 0.259259rem 0.37037rem;
		                }
		            }
		        }
		    }
		}
		center{
			position:absolute;
			top:1.87037rem;
			height: 15.740741rem;
			width: 100%;
			overflow-y:auto;
			overflow-x: hidden;
			table{
				// margin-left:0.277778rem;
				margin-top: 0.296296rem;
				width: 94%;
				text-align: center;
				background-color: white;
				img{
					width: 0.6rem;
					height: 0.6rem;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(60%,-50%);
					z-index: 0;
				}
				tr{
					position:relative;
					line-height:0.814815rem;
					td{
						position: relative;
					}
				}
				thead{
					color:#4D6131;
					tr:nth-of-type(1){
						background-color:#E5FCC7;
						font-size: 0.444444rem;
						font-weight: bold;
						line-height: 0.851852rem; 
					}
					tr:nth-of-type(2){
						font-size:0.388889rem;
						background-color:#D0E7B1; 
					}
				}
				tbody{
					color:#5F8C25;
					font-size:0.416667rem;
					tr:nth-of-type(2n){
						background-color: #EFF8E3;
					}
					td:nth-of-type(1){
						text-align: left;
						padding-left: 0.27rem;
						color:#499BA5;
						width: 3rem;
						max-width: 3rem;

						border-right: 0 none;
						display: block;
						word-wrap: break-word;
						word-break:break-all;
						white-space: pre-wrap;
					}
					td:nth-of-type(2).red{
							color:red;
					}

					
				}
			}
		}

		center::-webkit-scrollbar {
            display: none;
        } 
		
	}

	#water::-webkit-scrollbar {
      display: none;
  } 