*, *:before, *:after { max-height: 100000px }
@import "../../utils/Arguments.scss";

#home{
    background-color: #e7e7e7;
    max-width: 1200px;
    height: 100%;
    margin: auto;
.header{
    position: relative;
    height: 3.75rem;
    padding: 0 3%;
    &>ul{height: 100%;}
    h2{
        @include absolute-center(0, 50%, 5%, -50%);
        background: rgba(200, 200, 200, 0.5);
        border: 1px solid rgba(200, 200, 0, 0.2);
        border-radius: 5px;
        line-height: 20px;
        font-size: 20px;
        padding: 0 5px;
        margin: 0;
        color: #1c2438;
        width: auto;
        input{
            height: 22px;
            background: #fff;
            color: #1c2438;
            border-radius: 5px;
            border: 1px solid rgba(200, 200, 0, 0.2);
            padding-left: 5px;
            @include absolute-center(0, 50%, 0, -50%);
        }
    }
    // .hColor{
    //     @include absolute-center(0, 50%, 0%, -50%);
    //     z-index: 2;
    // }
}
.main{
    padding: 10px;
    
    height: 100%;
    width: 100%;
    display: flex;
    .m-left{
        float: left;
        background: #ccc;
        &>ul{
            li{
                height: 35px;
                line-height: 35px;
                font-size: 14px;
            }
            li:hover{
                background: #444;
                color: #fff;
            }
            .active{
                background: #444;
                color: #fff;
            }
            li:first-child{
                background-color: #58bc58;
                font-size: 18px;
                font-weight: bold;
                color: #fff;
            }

        }
    }
    .m-right{
        flex: 1;
        box-sizing: border-box;
        margin-left: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 14px;
        overflow: hidden;

        h3{
            background-color: #58bc58;
            margin: 0;
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            font-weight: bold;
            text-indent: 20px;
            text-align: center;
            color: #fff;
        }

        .weblist{
            padding:10px 20px;
            .collect{
                .head{
                    font-weight:bold;
                    height:30px;
                    line-height:30px;
                    border-bottom:1px solid #ccc;
                    text-indent: 10px;
                    position:relative;
                    font-size: 17px;
                    i{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        cursor: pointer;
                        transform: translateY(-50%);
                    }
                }
                .collect-head{color:#f00;}
                .study-head{color:#58bc58;}
                ul{
                    padding:10px;
                    li{
                        float:left;padding:0 10px;height:30px;line-height:30px;text-align:left;width:160px;
                        a:hover{
                            color: #FF5E53;
                        }
                    }
                }
            }
        }
    }
    .modal{
        .modal-header{
            padding:10px 15px;background-color:#58bc58;border-top-right-radius:5px;border-top-left-radius:5px;
        }
        .modal-content{
            width:800px;
            .modal-body{
                overflow: hidden;
                cursor:pointer;
                padding-bottom:5px;
                .changeweb{
                    border:1px dotted #ccc;float:left;margin-right:12px;padding:0 5px;background-color:#eee;width:180px;margin-bottom:10px;position:relative;
                    span{
                        display:inline-block;width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-top:3px;
                    }
                    .glyphicon-remove-circle{
                        margin-left:0px;color:#666;margin-top:5px;position: absolute;right:5px;
                        &:hover{
                            color:#f00; 
                        }
                    }
                &:hover{
                    border:1px dotted #666;
                }
            }
            }
            .webname{
                width:200px;
            }
            .weburl{
                width:350px;
            }
            .btn-success{
                width:70px;margin-left:10px;
            }
        }
    }
}

}